<!DOCTYPE>
<html>
  <head>
    <meta charset="UTF=8">
    <%= wicked_pdf_stylesheet_link_tag "pdf" %>
  </head>
  <body>
    <p>test - <%= @vvv %></p>
    <%= wicked_pdf_image_tag('image1.png', {width: "200", height: "200"})  %>
  </body>
</html>
